#logo {
    position: relative;
	max-width:none;
	height: 300px;  /*高度*/
}

#logo h1,
#logo h2 {
    position: relative;
    z-index: 1; /* 確保文字在圖片上方 */
    color: rgb(0, 0, 0); /* 根據圖片選擇文字顏色 */
}
#BLACK{
    color: #000000;
}
#white{
    color: #ffffff;
}
#metamorph{
    color: #ffffff;
}
#logo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("images/logo.png"); /* 替換為你的圖片路徑 */
	background-position: center; /* 中心對齊 */
	background-repeat: no-repeat; /* 不重複 */
    background-size: cover; /* 讓背景圖片覆蓋整個區域 */
    opacity: 9; /* 調整透明度以便文字更清晰 */
    z-index: 0; /* 背景在最底層 */
}


#menu{
	overflow: hidden;
	background-color: #000000;
  }

#menu li {
	float: left;
	display: block;
	color: #000000;
	text-align: center;
	padding: 14px 16px;
    text-decoration: none;
}

#menu a {
	color: #ffffff;
}
